@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  gap: 20px;
  transition: background 0.3s;
}

:root {
  --body: #eaf2ff;
  --card: #000000;
  --text: #ffffff;
}

body.dark {
  --body: #171717;
  --text: #fff;
  --card: #ffffff;
}

.theme-toggle {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: var(--secondary);
  transition: background 0.3s;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.card {
  margin-top: 20vh;
  height: 580px;
  width: 292px;
  background: var(--card);
  border-radius: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  color: var(--text);
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, background 0.3s;
}

.card:hover {
  transform: scale(1.09);
}

.card img {
  width: 272px;
  height: 328px;
  border-radius: 14px;
  object-fit: cover;
}

.card__title {
  color: var(--text);
  margin-top: 5px;
  font-size: 25px;

}

.card__description {
  margin-top: 8px;
  display: block;
  font-size: 13px;
  transition: color 0.3s;
}

.card__action {
  height: 10px;
  width: 10px;
  outline: none;
  border: none;
  background: var(--secondary);
  border-radius: 12px;
  cursor: pointer;
  margin-top: auto;
}

.card__action span {
  color: #fff;
  font-size: 28px;
}
