@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap');
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
    list-style-type: none !important;
    overflow-x: hidden;
    background-color: #070b11;
    color:rgb(255, 255, 255);
}
.dark{
    background-color: black !important;
    color:white !important;
}
a:visited{
    color:#1d1e20;
}
a:link{
    color:#1d1e20;
}
a:active{
    color:#1d1e20;
}
a:hover{
    color:#1d1e20b7 !important;
}

a{
    text-decoration: none;
}

.button-main{
    text-shadow: 0 -1px 20px rgba(255, 255, 255, 0.439);
    background: #30c4e3;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 4px 15px #13ebeb40;
    color: #ffffff;
    font-family: Satoshi, sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-right: 1.5rem;
    margin-top: 1rem;
    outline: none;
    padding: .8rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    width: 150px;
}
/*coupon*/
.coupon{
    position:fixed;
    height:350px;
    width:50%;
    left:25%;
    top:25%;
    background-color: #673de6;
    border-radius: 8px;
    box-shadow: black 0px 0px 100px 0px;
    color:white;
    padding:5%;
    padding-top:4.5%;
    
    z-index:2;
}
.coupon .price{
    color:rgba(8, 225, 215, 0.991);
}
.close{
    position:absolute;
    left: 724px;
    top: 0px;
    border-radius: 8px;

    color:white;
    font-size: 30px;
}
/*Navbar*/
.navbar {
    font-family: 'DM Sans', sans-serif;
    background-color: #05090f !important;
    height:88px;
    display:flex;
    flex-wrap: wrap;
}
.navbar-left{
    display:flex;
    height:auto;
    margin-left: 0px;
}
.navbar-brand img{
    padding-top: 0px;
    width: 47px !important; 
    height: 50px !important;
}
.navbar-left img:nth-child(2){
    height:30px !important;
    padding-top:5%;
}
.navbar-left span{
    color: #fff;

    height:30px;
    padding-top:11px;
    padding-left:5px;
    font-weight:bolder;
}

.navbar-right{
    display:flex;
    flex-wrap: wrap;
    color:#1d1e20;
   
}

.navbar-right button:hover{
    background-color: #673de6 !important;
}
.navbar-right {
    margin-right:-50px;
}
.navbar-right .nav-button{
    font-weight: bolder;
    border:2px solid black;
    border-radius: 5px;
}

.geo:hover{
    cursor: pointer;
}
/*Navbar*/
.hero-container{
    height:680px;
}
.inside-hero-container{
    height:548px;
    width:1312px;
    margin-top:164px;
    display:flex;
    flex-wrap:wrap;
}

.right-side img{
    width:718px;
    height:561px;
    margin-top:62px;
    margin-bottom: 43px;
    margin-left:154px;
}
.left-side{
    height:548px;
    width:429px;
    text-align: start;
}

.left-side h1{
    font-size:36px;
    margin-bottom: 8px;
    color:#ffffff;
    font-weight: bolder;
    text-decoration: overline;

}

.left-side .buytext{
    margin-top: 20vh;
}

.left-side p{
    font-size:16px;
    font-weight: lighter;
}
.fa-question{
    font-size:12px;
    padding:3px;
}

/* Comentarios*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    margin: 40px;
}

.full-boxer {
    display: flex;
    flex-wrap: wrap; /* Permite que os comentários se ajustem ao espaço disponível */
    justify-content: center; /* Centraliza os comentários */
    align-items: flex-start; /* Alinha os comentários ao topo */
    width: 100%;
}

.comment-box {
    width: 400px; /* Ajuste a largura conforme necessário */
    background: rgba(255, 255, 255, 0.027);
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; /* Para empilhar conteúdo dentro da caixa */
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover {
    margin-top: 12px;
}

.Profile {
    display: flex;
    align-items: center;
}

svg{
    color: #ffffff;
}

.estrelas svg{
    -webkit-animation: rainbow 5s infinite;

}

  @-webkit-keyframes rainbow{
    0%{color: rgb(255, 0, 0);}
   10%{color: rgb(255, 38, 0);}
   20%{color: rgb(255, 94, 0);}
   30%{color: rgb(238, 255, 0);}
   40%{color: rgb(145, 255, 0);}
   50%{color: rgb(0, 255, 115);}
   60%{color: rgb(0, 195, 255);}
   70%{color: rgb(0, 140, 255);}
   80%{color: rgb(55, 20, 255);}
   90%{color: rgb(204, 0, 255);}
  100%{color: rgb(255, 0, 76);}
  }


.Name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.Name span {
    color: gray;
    margin-top: 2px;
}

.comment p {
    color: rgb(255, 255, 255);
}
